@font-face{
	font-family: afanan;
	src: url(afanan.ttf);
}

@-webkit-keyframes spin1{
	100%{-webkit-transform: rotate(360deg);}
}

body{
	background-color:black;
	font-family: afanan;
}

#gologo{
	margin-left:25vw;
	width:50vw;
	height:25vw;
	position:relative;
}

h1{
	color:white;
	margin:auto;
}

#nav1{
	margin-left:21vw;
	float:left;
	color:white;
	font-size:2vw;
	cursor: pointer;
}

#nav1:hover{
	-webkit-animation:spin1 1s linear ;
}


#nav2{	
	margin-left:5vw;
	float:left;
	color:white;
	font-size:2vw;
	cursor: pointer;
}

#nav2:hover{
	-webkit-animation:spin1 1s linear ;
}

#nav3{
	margin-left:5vw;
	float:left;
	color:white;
	font-size:2vw;
	cursor: pointer;
}

#nav3:hover{
	-webkit-animation:spin1 1s linear ;
}

#nav4{
	
	margin-left:5vw;
	float:left;
	color:white;
	font-size:2vw;
	cursor: pointer;
}

#nav4:hover{
	-webkit-animation:spin1 1s linear ;
}

#twitter{
	width:3vw;
	height:2vw;
	margin-top:1.8vw;
	margin-left:5vw;
	float:left;
	cursor: pointer;
}

#twitter:hover{
	-webkit-animation:spin1 1s linear ;
}

#facebook{
	width:1.5vw;
	height:2.5vw;
	margin-top:1.5vw;
	margin-left:2.5vw;
	float:left;
	cursor: pointer;
}

#facebook:hover{
	-webkit-animation:spin1 1s linear ;
}

#insta{
	width:3vw;
	height:3vw;
	margin-top:1.3vw;
	margin-left:2.5vw;
	float:left;
	cursor: pointer;
}

#insta:hover{
	-webkit-animation:spin1 1s linear ;
}

#pone{
	margin-left:1vw;
	float:left;
	color:white;
	font-size:2vw;
}

#divone{
	margin-top:2vw;
	margin-left:35vw;
	width:30vw;
	height:40vw;
	background-color:white;
	border-radius:5%;
	position:absolute;
}

#pack{
	margin-left:8.5vw;
	font-size:3vw;
}

#psell{
	font-size:2vw;
	margin-left:1vw;
}

ul{
	font-size:1.5vw;
}

a{
	font-size:2vw;
	text-decoration:none;
	margin-left:1vw;
}

#request{
	font-size:2vw;
	margin-left:1vw;
}

#pconone{	
	margin-top:5vw;
	margin-left:25vw;
	border:1px solid black;
	width:50vw;
	height:15vw;
	display:block;
}

#pcontwo{	
	margin-top:5vw;
	margin-left:25vw;
	border:1px solid black;
	width:50vw;
	height:15vw;
	display:none;
}

#ptwo{
	margin-left:1vw;
	float:left;
	color:white;
	font-size:2vw;
}

#pconthree{	
	margin-top:5vw;
	margin-left:25vw;
	border:1px solid black;
	width:50vw;
	height:15vw;
	display:none;
}

#pthree{
	margin-left:1vw;
	float:left;
	color:white;
	font-size:2vw;
}

#pconfour{	
	margin-top:5vw;
	margin-left:25vw;
	border:1px solid black;
	width:50vw;
	height:15vw;
	display:none;
}

#pfour{
	margin-left:15vw;
	float:left;
	color:white;
	font-size:2vw;
}

#email{
	margin-top:1vw;
	margin-left:12.5vw;
	position:absolute;
	font-size:2.5vw;
}












